@use "../helpers" as *;

.menu {
  &__list {
    display: flex;
    text-transform: uppercase;
    list-style: none;
    margin-bottom: auto;
    padding: 0;
    gap: 8px;

    @media (max-width: 1250px) {
      gap: 4px;
    }

    @media (max-width: 1130px) {
      gap: 2px;
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 600;
    padding: 19px 12px;
    white-space: nowrap;

    @media (max-width: 1130px) {
      padding: 10px 6px;
    }

    @media (max-width: 1100px) {
      padding: 5px 3px;
    }
  }

  &--header {
    @include tablet {
      @include visually-hidden;
    }
  }
}

.menu-top-wrapper {
  display: flex;
  justify-content: space-between;
}

.tablet-overlay__logo {
  outline: none;
}

.tablet-overlay {
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;

  &.is-open {
    opacity: 1;
    transform: translateY(0);
  }
}
