@use "../helpers/" as *;

.prices {
  margin-bottom: 140px;

  @include tablet {
    margin-bottom: 100px;
  }

  @include mobile {
    margin-bottom: 70px;
  }
}

.price:first-child {
  @include tablet {
    padding-top: 32px;
  }
}

.price {
  border-bottom: 1.5px solid var(--color-grey10);
  padding: 18px 0;
  margin: 0;

  summary::-webkit-details-marker {
    display: none;
  }

  &__summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__question {
    @include fluid-text(40, 20);
    text-transform: uppercase;
    font-weight: 600;
  }

  &__icon {
    width: 32px;
    height: 32px;
    transition: transform 0.25s ease;

    @include tablet {
      width: 25px;
      height: 25px;
    }

    @include mobile {
      width: 20px;
      height: 20px;
    }
  }

  &[open] &__icon {
    transform: rotate(45deg);
  }

  &__answers-wrapper {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.35s ease;
  }

  &[open] &__answers-wrapper {
    max-height: 1000px;
  }

  &__answers {
    @include fluid-text(24, 14);
    margin-top: 8px;
    color: var(--color-white);
    line-height: 1.3;
    justify-content: space-between;
  }

  &__answear {
    display: grid;
    grid-template-columns: 1fr auto;

    padding: 16px 0 16px 16px;
    margin-bottom: 0;

    @include tablet {
      padding: 12px 0 12px 8px;
    }

    @include mobile {
      padding: 8px 0 8px 8px;
    }
  }

  &__answear:not(:last-child) {
    border-bottom: 1px solid var(--color-grey50);
  }
}

.price__answear span:last-child {
  padding-right: 16px;

  @include mobile {
    padding-right: 8px;
  }
}

.price__answear span:first-child {
  min-width: 0;
}

.price__answear span:last-child {
  white-space: nowrap;
  text-align: right;
}

.pricing-hero {
  min-height: 100vh;
  background: #000;
  color: var(--color-white);
}

.title {
  @include fluid-text(90, 26);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -4%;

  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 16px;
    letter-spacing: -2%;
  }

  @include mobile {
    margin-bottom: 16px;
    letter-spacing: -1%;
  }
}
.row-top {
  display: flex;
  align-items: baseline;
  gap: 200px;
}
.big {
  line-height: 1;
  white-space: nowrap;
}
.small {
  @include fluid-text(18, 14);
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0px;
  align-self: center;
  color: var(--color-grey20);
  text-transform: none;
}

.row-bottom {
  position: relative;
  display: inline-block;
  line-height: 1.1;
}

.line {
  position: absolute;
  left: 0;
  bottom: -0.2em;
  width: 100%;
  height: 4px;
}
.row-top {
  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.small {
  @include mobile {
    max-width: 100%;
  }
}

.small--tablet {
  @include fluid-text(18, 14);
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -1%;
  align-self: center;
  color: var(--color-grey20);

  @include tablet {
    min-width: 600px;
    margin-bottom: 32px;
  }

  @include mobile {
    min-width: 300px;
    margin-bottom: 32px;
  }
}

.title,
.small--tablet,
.price {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.title.is-visible,
.small--tablet.is-visible,
.price.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.price {
  transition-delay: 0.1s;
}

.price:nth-child(2) {
  transition-delay: 0.15s;
}
.price:nth-child(3) {
  transition-delay: 0.2s;
}
.price:nth-child(4) {
  transition-delay: 0.25s;
}
.price:nth-child(5) {
  transition-delay: 0.3s;
}
.price:nth-child(6) {
  transition-delay: 0.35s;
}
.price:nth-child(7) {
  transition-delay: 0.4s;
}
.price:nth-child(8) {
  transition-delay: 0.45s;
}

// .price__answers-wrapper {
//   overflow: hidden;
//   max-height: 0;
//   opacity: 0;
//   transition:
//     max-height 0.35s ease,
//     opacity 0.35s ease;
// }
