@use "../helpers" as *;

.doctors {
  // padding: 60px 20px;
  margin-bottom: 140px;

  @include tablet {
    margin-bottom: 100px;
  }
  @include mobile {
    margin-bottom: 70px;
    overflow: hidden;
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin: 0;

    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 32px;
    }

    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__line-top {
    white-space: nowrap;
  }

  &__line-bot {
    margin-left: 30%;

    @include tablet {
      margin-left: 25%;
    }

    @include mobile {
      margin-left: 0;
    }
  }
}

.doctors__container {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 60px;

  @include tablet {
    padding-inline: 32px;
  }

  @include mobile {
    padding-inline: 16px;
  }
}

.doctors__slider {
  width: 100%;

  @include mobile {
    overflow: hidden;
  }
}

.doctors__track {
  display: block;
  gap: 24px;

  @include mobile {
    display: flex;
    transition: transform 0.5s ease;
    align-items: stretch;
  }
}

.doctor-card {
  border-bottom: 1px solid var(--color-grey20);
  padding: 30px 0;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;

  @include tablet {
    margin-bottom: 30px;
  }

  @include tablet {
    min-width: 100%;
    // padding: 20px;
    padding: 16px 0;

    border-bottom: none;
  }

  @include mobile {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.doctor-card--first,
.doctor-card__photo img {
  object-position: 20% 60%;

  @include tablet {
    object-position: 30% 30%;
  }
}

.doctor-card__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr;
  // grid-template-columns: minmax(0, 1fr) minmax(0, 1.1fr) minmax(0, 1.2fr);
  // column-gap: clamp(12px, 4vw, 96px);
  // gap: 16px;

  @include tablet {
    grid-template-columns: 1fr 1fr; // ← ВОТ ТАК
    align-items: stretch;
    grid-template-rows: auto auto 1fr auto;
    gap: 16;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    height: auto;
    flex: 1;
  }
}

.doctor-card__name-block {
  margin-right: 32px;
  @include tablet {
    // grid-column: 1 / 2;

    grid-column: 1;
    grid-row: 1;
    // height: 150px;
    margin-right: 0;
  }
}

.doctor-card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  // margin-left: 32px;
  justify-content: flex-start;
  margin-right: 40px;

  @include tablet {
    // grid-column: 1 / 2;
    // margin-left: 0;
    margin-right: 0;

    grid-column: 1;
    grid-row: 2 / 5;

    display: flex;
    flex-direction: column;
  }
}

.doctor-card__photo {
  @include tablet {
    grid-column: 2;
    grid-row: 1 / 5;
    width: 100%;
    height: 100%;
  }

  @include mobile {
    order: -1;
    margin-bottom: 20px;
  }
}
//из-за размера шрифта длинные очества косят след столбец
.doctor-card__name {
  @include fluid-text(40, 20);

  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1%;
  color: var(--color-white);

  margin: 0;
  margin-bottom: 16px;
}

.doctor-card__position {
  @include fluid-text(26, 16);

  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1%;
  color: var(--color-gold);
  margin-bottom: 8px;

  @include tablet {
    font-weight: 500;
  }

  @include mobile {
    line-height: 1;
    letter-spacing: 0%;
  }
}

.doctor-card__text {
  @include fluid-text(18, 14);

  font-weight: 500;
  line-height: 1.3;
  color: var(--color-grey10);
  margin: 0;
  margin-bottom: 24px;

  @include tablet {
    font-weight: 400;
  }
}

.doctor-card__photo img {
  // width: 100%;
  // border-radius: 20px;

  // @include mobile {
  //   // order: -1;
  // }

  width: 100%;
  height: 100%;
  // height: auto;
  border-radius: 15px;
  object-fit: cover;
  display: block;

  // margin-left: 32px;

  @include tablet {
    margin-left: 16px;
  }

  @include mobile {
    margin-left: 0;
  }
}

.doctor-card__toggle {
  // margin-top: 25px;
  // padding: 12px 28px;
  // background: #f3c06b;
  // border: none;
  // cursor: pointer;
  // font-size: 16px;
  @include fluid-text(18, 14);

  font-weight: 600;
  color: var(--color-gold);

  // margin-top: 25px;
  padding: 14px 36px;
  border-radius: 40px;
  border: 2px solid var(--color-gold);
  background: transparent;
  // color: #f3c06b;
  cursor: pointer;
  transition: 0.3s;

  margin-top: auto;

  @include tablet {
    font-weight: 500;
  }

  // @include mobile {
  //   font-weight: 500;
  // }
}

.doctor-card__toggle:hover {
  color: #000;
  background-color: var(--color-gold);
}

/*
   EXPAND
*/

.doctor-card__expand {
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
}

.doctor-card__expand[hidden] {
  display: none;
}

.doctor-card.active .doctor-card__expand {
  // max-height: 100%;
  max-height: 1130px;
}

.doctor-card__title {
  @include fluid-text(32, 16);
  font-weight: 600;
  line-height: 1.1;
  color: var(--color-white);
  margin: 0;

  @include mobile {
    line-height: 1.2;
  }
}

.doctor-card__description {
  @include fluid-text(18);
  font-weight: 500;
  line-height: 1.3;
  color: var(--color-grey10);
  margin: 0;

  @include tablet {
    font-weight: 400;
  }
}

.doctor-card__description {
  p,
  ul,
  ol {
    margin: 0;
    margin-bottom: 10px;
  }

  li {
    margin: 0;
  }
}

.doctor-card__expand-inner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  // gap: 40px;
  margin-top: 40px;

  @include tablet {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  @include mobile {
    margin-top: 24px;
    gap: 12px;
  }
}

// .doctor-card__expand-top {
//   display: flex;
// }

// .doctor-card__expand-bottom {
// }

/*
   MOBILE SLIDER
*/

.doctors__controls {
  display: none;

  @include mobile {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 20px;
  }
}

.doctors__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 58px;

  border-radius: 50%;
  border: 2px solid var(--color-gold);

  background: transparent;

  color: var(--color-gold);
  fill: currentColor;

  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;

  @include mobile {
    width: 44px;
    height: 44px;
  }
}

.doctors__btn svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.doctors__btn--prev {
  transform: scale(-1, 1);
}

/* DISABLED */

.doctors__btn:disabled {
  border-color: var(--color-grey30);
  color: var(--color-grey30);
  fill: var(--color-grey30);
  cursor: default;
}

// .doctors--filled .doctors__btn {
//   border: none;
//   background: #f3c06b;
//   color: #000;
// }

// .doctors--filled .doctors__btn:disabled {
//   background: #777;
//   color: #fff;
// }

.doctors__btn.doctors--filled {
  border: none;
  background: var(--color-gold);
  color: #000;
}

.doctors__btn.doctors--filled:disabled {
  background: #777;
  color: #fff;
}

.works__header {
  padding: 11.5px 0;
}

.two-cards {
  display: flex;
  gap: 15px;
  align-items: stretch;
}

.two-cards > div {
  flex: 1;
}

.doctors--static {
  .doctors__slider {
    overflow: visible !important;
  }

  .doctors__track {
    @include mobile {
      display: block !important;
      transform: none !important;
    }
  }

  .doctor-card {
    @include mobile {
      flex: none !important;
      max-width: 100% !important;
    }
  }

  .doctors__controls {
    @include mobile {
      display: none !important;
    }
  }
}

.doctors__btn--secondary {
  // margin-top: 32px;

  width: 323px;
  min-height: 58px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  white-space: nowrap;

  padding: 0 24px;
  border: 2px solid var(--color-gold);
  background-color: var(--color-gold);
  border-radius: 50px;

  @include fluid-text(18, 14);
  font-weight: 600;
  color: #000;
  text-decoration: none;

  transition: all 0.3s ease;
  // margin-bottom: 92px;

  @include tablet {
    padding: 0 12px;
    min-height: 50px;
    // margin-bottom: 82px;
    font-weight: 500;
  }

  @include mobile {
    // min-width: 218px;
    width: 100%;
    min-height: 44px;
    // margin-bottom: 39px;
  }
  //old
}

.doctors__btn--secondary::after {
  content: "";
  width: 16px;
  height: 16px;
  flex-shrink: 0;

  background-color: currentColor;

  mask: url("../icons/arrow-bottom-right.svg") center/contain no-repeat;
  -webkit-mask: url("../icons/arrow-bottom-right.svg") center/contain no-repeat;

  transition: transform 0.3s ease;
}

.doctors__btn--secondary:hover {
  color: var(--color-gold);
  background: none;
}

.doctors__btn--secondary:hover:after {
  transform: rotate(-45deg);
}
.doctors__bottom {
  display: flex;
  justify-content: center;
  // margin-top: 32px;

  margin-bottom: 140px;

  @include tablet {
    margin-bottom: 100px;
  }

  @include mobile {
    margin-bottom: 70px;
  }
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(60px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.animate-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.doctor-card:nth-child(1) {
  transition-delay: 0s;
}
.doctor-card:nth-child(2) {
  transition-delay: 0.1s;
}
.doctor-card:nth-child(3) {
  transition-delay: 0.2s;
}
.doctor-card:nth-child(4) {
  transition-delay: 0.3s;
}

.doctors__line-top {
  transition-delay: 0s;
}

.doctors__line-bot {
  transition-delay: 0.2s;
}
